:root {
    --chat-container: #f3f6fd;
    --search-area-bg: #fff;
    --main-color: #1f1c2e;
    --secondary-color: #4A4A4A;
    --link-color: #1f1c2e;
    --link-color-hover: #c3cff4;
    --link-color-active: #fff;
    --link-color-active-bg: #1f1c2e;
    --reponse-section: #fff;
    --message-box-hover: #fafcff;
    --message-box-border: #e9ebf0;
    --more-list-bg: #fff;
    --more-list-bg-hover:  #f6fbff;
    --more-list-shadow: rgba(209, 209, 209, 0.4);
    --button-bg: #1f1c24;
    --message-btn: #fff;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: var(--chat-container);
    overflow: none;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-top: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: none;
}

.Header {
    margin-bottom: 200px;
}
.Header p{
    font-size: 25px;
    color: var(--main-color);
    background-color: var(--reponse-section);
    text-align: center;
    width: 600px;
}

.info-section {
    display: flex;
    max-width: 600px;
    color: var(--main-color);
    /* background-color: ; */
}



.user_input {
    display: flex;
    align-items: center;
    margin-top: 0px;
    padding: 10px 15px;
    background-color: var(--search-area-bg);
    border-radius: 40px;
    box-shadow: 8px 4px 10px 0px rgba(0, 0, 0, 0.2);
}


.input {
    border: none;
    font-size: 15px;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 30px;
    min-width: 400px;
    width: 500px;
    height: 20px;
    outline: none;

}

button {
    background-image: url(Images/send.png);
    background-color: transparent;
    background-size: contain;
    background-position: center;
    border: none;
    height: 40px;
    width: 50px;
    cursor: pointer;
    border-radius: 30px;
}

p {
    background-color: var(--more-list-shadow);
    padding: 12px;
    border-radius: 15px;
    margin-right: 10px;
    height: fit-content;
}