body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-size: large;
    
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: #0c1821;
    margin: 40px auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

.chat {
    height: 400px;
    overflow-y: hidden;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.user-message, .bot-message {
    list-style: none;
    width: auto;
    background-color: #324a5f;
    color: white; /* Added property */
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.user_input {
    display: flex;
    margin-top: 10px;
}

input {
    background-color: #ccc9dc;
    flex: 1;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
}

button {
    background-color: #1b2a41;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}