body {
    font-family: Arial, sans-serif;
    background-color: #b9b9b9;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
  }
  
  .introduction-box, .topics-box {
    background-color: #e0e0e0;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .introduction-box h2, .topics-box h2 {
    color: #333;
  }
  
  .topics-box ul {
    list-style: none;
    padding: 0;
  }
  
  .topics-box li.topic {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
    background-color: #c7cacb;
  }
  
  #objectives, #info {
    border: 1px solid #333;
    border-radius: 4px;
    padding: 10px;
    margin-left: 20px;
    background-color: #c7cacb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  a {
    color: #db3e3e;
    text-decoration: none; /* Remove underline by default */
  }
  
  a:hover {
    text-decoration: underline; /* Underline on hover */
  }
  