body {
    font-family: Arial, sans-serif;
    background-color: #b9b9b9;
  }

  .title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    text-decoration: underline;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
  }
  
  .introduction-box,
  .topics-box,
  .additional-info-box {
    background-color: #e0e0e0;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .introduction-box h2,
  .topics-box h2,
  .additional-info-box h2 {
    color: #333;
  }
  
  .topics-box ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers the topics */
  }
  
  .topic {
    margin: 10px;
    width: calc(50% - 20px); /* Two topics per row */
    background-color: #c7cacb;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
  }
  
  /* Adjust width for single topic */
  .topic:nth-last-child(1):first-child {
    width: 100%; /* Full width for single topic */
  }
  

  #objectives, #info {
    background-color: #c7cacb;
    border: 1px solid ;
    border-radius: 4px;
    padding: 10px;
    margin-left: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }

  #objectives {
    list-style-type: disc;
    padding-left: 20px;
  }

  a {
    color: #db3e3e;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
   }

  .additional-info-box p {
    margin: 10px 0;
  }

  .additional-info-box p:first-child {
    margin-top: 0;
  }
