<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/dashboard.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/dashboard.js" defer></script>
</head>
<body>
    <div class="d-container">
        <div class="d-header">
            <div class="d-header-left">
                <span class="d-icon"></span>
                <p class="d-name">Dashboard</p>
                <div class="search-bar">
                    <input class="search-input" type="text" placeholder="Search">
                    <img class="search-icon" src="../static/Images/Search.png">
                </div>
            </div>
            <div class="d-header-right">
                <button class="mode-btn">
                    <img src="../static/Images/Slider-dark-mode-left.png">
                </button>
                <button class="notification-btn">
                    <img src="../static/Images/Notificatioin.png">
                </button>
                <button class="profile-btn">
                    <div class="pfp"></div>
                    <span class="profile-name">John Doe</span>
                </button>
            </div>
        </div>
        <div class="d-content">
            <div class="d-side-bar">
                <a class="d-nav-home" href="">
                    <img src="../static/Images/Home-light.png">
                </a>
                <a class="d-nav-query" href="http://52.59.213.161/chat.html">
                    <img src="../static/Images/Add.png">
                </a>
                <a class="d-nav-planner" href="">
                    <img src="../static/Images/Planner.png">
                </a>
                <a class="d-nav-settings" href="">
                    <img src="../static/Images/Settings.png">
                </a>            
            </div>
            <div class="d-project-section">
                <div class="d-project-section-header">
                    <p class="title">Projects</p>
                    <p class="time"></p>
                </div>
                <div class="d-project-section-overview">
                    <div class="project-status">
                        <div class="project-status-item">
                            <span class="count">{% planning_count %}</span>
                            <span class="status">Planning</span>
                        </div>
                        <div class="project-status-item">
                            <span class="count" id="in_progress_count">12</span>
                            <span class="status">In Progress</span>
                        </div>
                        <div class="project-status-item">
                            <span class="count" id="completed_count">12</span>
                            <span class="status">Completed</span>
                        </div>
                    </div>
                    <div class="view-options">
                        <button class="list-view" title="List View">
                            <img src="../static/Images/List-view.png">
                        </button>
                        <button class="grid-view active" title="Grid View">
                            <img src="../static/Images/Block-view.png">
                        </button>
                    </div>
                </div>
                <div class="d-project-section-boxes">
                    <div class="column" style="background-color: #ce4d4d;">
                        <div class="column-title" style="background-color: #721616;">Planning</div>
                        {% set planning_count = 0%}
                        {% for roadmap in data %}
                            {% if roadmap.planning %}
                            {% set planning_count = planning_count + 1 %}
                            <div id="planning_{{ roadmap.id }}" class="droppable" ondrop="drop(event, 'planning')" ondragover="allowDrop(event)">
                                <div class="project-box-wrapper" style="background-color: #fecbcb;" draggable="true" ondragstart="drag(event)">
                                    <a class="d-project-link" href="{{ url_for('view_roadmap', roadmap_id=roadmap.id) }}" target="_blank">
                                    <div class="project-box-header">
                                        <p style="font-size: 15px;">{{ roadmap.created_at.strftime('%B %d, %Y') }}</p>
                                        <img src="../static/Images/options.png">
                                    </div>
                                    <div class="project-box-body">
                                        <p>{{ roadmap.title }}</p>
                                    </div>
                                    <div class="Progress-bar">
                                        <p class="Progress-bar-title">Progress</p>
                                        <span class="box-progress" style="width: 0%; background-color: #ff942e"></span>
                                        <p class="percentage">0%</p>
                                    </div>
                                    <div class="Progress-bar-footer">
                                        <img src="../static/Images/Add.png" style="width: 20px; height: 20px;">
                                        <div class="timer">4 Days Left</div>
                                    </div>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    <div class="column" style="background-color: #b3adf5;">
                        <div class="column-title" style="background-color: #685bfa;">In progress</div>
                        {% for roadmap in data %}
                            {% if  roadmap.in_progress %}
                            <div id="inProgress_{{ roadmap.id }}" class="droppable" status="in_progress" ondrop="drop(event, 'inProgress')" ondragover="allowDrop(event)">
                                <div class="project-box-wrapper" style="background-color: #dccafa;" draggable="true" ondragstart="drag(event)">
                                    <a class="d-project-link" href="{{ url_for('view_roadmap', roadmap_id=roadmap.id) }}" target="_blank">
                                    <div class="project-box-header">
                                        <p style="font-size: 15px;">{{ roadmap.created_at.strftime('%B %d, %Y') }}</p>
                                        <img src="../static/Images/options.png">
                                    </div>
                                    <div class="project-box-body">
                                        <p>{{ roadmap.title }}</p>
                                    </div>
                                    <div class="Progress-bar">
                                        <p class="Progress-bar-title">Progress</p>
                                        <span class="box-progress" style="width: 60%; background-color: #ff942e"></span>
                                        <p class="percentage">60%</p>
                                    </div>
                                    <div class="Progress-bar-footer">
                                        <img src="../static/Images/Add.png" style="width: 20px; height: 20px;">
                                        <div class="timer">4 Days Left</div>
                                    </div>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="column" style="background-color: #adfcbe;">
                        <div class="column-title" style="background-color: #25bd46;">Completed</div>
                        {% for roadmap in data %}
                            {% if roadmap.completed %}
                            <div id="completed_{{ roadmap.id }}" class="droppable" status="completed" ondrop="drop(event, 'completed')" ondragover="allowDrop(event)">
                                <div class="project-box-wrapper" style="background-color: #6bfc8a;" draggable="true" ondragstart="drag(event)">
                                    <a class="d-project-link" href="{{ url_for('view_roadmap', roadmap_id=roadmap.id) }}" target="_blank">
                                    <div class="project-box-header">
                                        <p style="font-size: 15px;">{{ roadmap.created_at.strftime('%B %d, %Y') }}</p>
                                        <img src="../static/Images/options.png">
                                    </div>
                                    <div class="project-box-body">
                                        <p>{{ roadmap.title }}</p>
                                    </div>
                                    <div class="Progress-bar">
                                        <p class="Progress-bar-title">Progress</p>
                                        <span class="box-progress" style="width: 100%; background-color: #ff942e"></span>
                                        <p class="percentage">100%</p>
                                    </div>
                                    <div class="Progress-bar-footer">
                                        <img src="../static/Images/Add.png" style="width: 20px; height: 20px;">
                                        <div class="timer">4 Days Left</div>
                                    </div>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</body>
</html>
