<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ roadmap.title }}</title>
  <link rel="stylesheet" href="../static/roadmap.css">
</head>
<body>
  <div class="container">
    <h1 class="title">{{ roadmap.title }}</h1>
    <div class="introduction-box">
      <h2>Introduction</h2>
      <p id="introduction">{{ roadmap.introduction }}</p>
    </div>
    <div class="topics-box">
        <h2>Topics:</h2>
        <ul id="topics">
          {% for topic in topics %}
        <li class="topic" id="1">
          <h3>{{ topic.name }}</h3>
          <p>{{ topic.description }}</p>
          <h5>Objectives:</h5>
          <ul id="objectives">
            {% for objective in objectives %}
              {% if objective.topic_id == topic.id %}
                <li>{{ objective.name }}</li>
              {% endif %}
            {% endfor %}
          </ul>
          <p>Milestones: <b>{{ topic.milestones }}</b></p>
          <p>Links:
            {% for r in resources %}
              {% if r.topic_id == topic.id %}
                <a href="{{ r.link }}">Link</a>
              {% endif %}
            {% endfor %}
          </p>
        </li>
       {% endfor %}
      </ul>
    </div>
    <div class="additional-info-box">
      <h2>Additional Information</h2>
      <p><b>Tip</b>: Take thorough notes and create diagrams to visualize concepts</p>
      <p><b>Project Ideas</b>: Consider doing a cell model project to reinforce your understanding of cell structure</p>
    </div>
  </div>
</body>
</html>
